.start-screen {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(64, 64, 64);

    img {
        height: 100vh;
        width: 80vw;
    }
}

.start-label-box {
    height: fit-content;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: auto;
        width: 30vw;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }
    }
}