<app-player *ngFor="let player of game.players; let i = index;" class="player-position"
    [ngStyle]="{'top.px': 100 + (i * 90)}" [playerActive]="i == game.currentPlayer" [name]="player"></app-player>

<div class="field">
    <div class="card-stack">
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0,1,2,3,4]; let i = index;"
            src="../../assets/img/card_cover.jpg">
        <img (click)="takeCard()" class="top-card" style="right: 20px" src="../../assets/img/card_cover.jpg">

        <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/img/{{ card }}.png">

        <img (click)="takeCard()" *ngIf="pickCardAnimation" [class.pick-card]="pickCardAnimation"
            class="pickCardAnimation" style="right: 20px" src="../../assets/img/{{ currentCard }}.png">
    </div>
</div>

<app-game-info [card]="currentCard"></app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="add-btn">
    <mat-icon>add</mat-icon>
</button>